<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535382618380-6bhscm6keevb6p031cfb3drg9ckpoohh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535382618380-6bhscm6keevb6p031cfb3drg9ckpoohh</string>
	<key>API_KEY</key>
	<string>AIzaSyDjLRmhXf_lFiRMdF69rmUoUa6X6ZnRuCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>535382618380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.the3.members.client.client</string>
	<key>PROJECT_ID</key>
	<string>members-dev-25f27</string>
	<key>STORAGE_BUCKET</key>
	<string>members-dev-25f27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535382618380:ios:698090ce0a7cd3568c1929</string>
</dict>
</plist>